In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("testData.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [3]:
df.keys()

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [6]:
df1=pd.read_csv("trainData.csv")
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [8]:
df1.shape

(614, 13)

In [37]:
df2=df.append(df1)     # combined of both data sets
df2

C:\Users\SRINU\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5720,0.0,1.0,0,Graduate,Male,110.0,360.0,LP001015,NaN,Yes,Urban,No
1,3076,1500.0,1.0,1,Graduate,Male,126.0,360.0,LP001022,NaN,Yes,Urban,No
2,5000,1800.0,1.0,2,Graduate,Male,208.0,360.0,LP001031,NaN,Yes,Urban,No
4,3276,0.0,1.0,0,Not Graduate,Male,78.0,360.0,LP001051,NaN,No,Urban,No
5,2165,3422.0,1.0,0,Not Graduate,Male,152.0,360.0,LP001054,NaN,Yes,Urban,Yes
6,2226,0.0,1.0,1,Not Graduate,Female,59.0,360.0,LP001055,NaN,No,Semiurban,No
7,3881,0.0,0.0,2,Not Graduate,Male,147.0,360.0,LP001056,NaN,Yes,Rural,No
9,2400,2400.0,1.0,0,Not Graduate,Male,123.0,360.0,LP001067,NaN,No,Semiurban,No
10,3091,0.0,1.0,0,Not Graduate,Male,90.0,360.0,LP001078,NaN,No,Urban,No
14,4666,0.0,1.0,0,Graduate,Female,124.0,360.0,LP001096,NaN,No,Semiurban,No
15,5667,0.0,1.0,1,Graduate,Male,131.0,360.0,LP001099,NaN,No,Urban,No
16,4583,2916.0,1.0,2,Graduate,Male,200.0,360.0,LP001105,NaN,Yes,Urban,No
17,3786,333.0,1.0,3+,Graduate,Male,126.0,360.0,LP001107,NaN,Yes,Semiurban,No
18,9226,7916.0,1.0,0,Graduate,Male,300.0,360.0,LP001108,NaN,Yes,Urban,No
19,1300,3470.0,1.0,0,Graduate,Male,100.0,180.0,LP001115,NaN,No,Semiurban,No
20,1888,1620.0,1.0,1,Not Graduate,Male,48.0,360.0,LP001121,NaN,Yes,Urban,No
21,2083,0.0,1.0,3+,Not Graduate,Female,28.0,180.0,LP001124,NaN,No,Urban,No
23,3765,0.0,1.0,0,Not Graduate,Female,125.0,360.0,LP001135,NaN,No,Urban,No
24,5400,4380.0,1.0,0,Graduate,Male,290.0,360.0,LP001149,NaN,Yes,Urban,No
25,0,24000.0,0.0,0,Graduate,Male,148.0,360.0,LP001153,NaN,No,Rural,No
27,7500,3750.0,1.0,0,Graduate,Male,275.0,360.0,LP001169,NaN,Yes,Urban,No
29,2942,2382.0,1.0,0,Graduate,Male,125.0,180.0,LP001176,NaN,No,Urban,No
30,2478,0.0,1.0,0,Not Graduate,Female,75.0,360.0,LP001177,NaN,No,Semiurban,No
31,6250,820.0,1.0,2,Graduate,Male,192.0,360.0,LP001183,NaN,Yes,Urban,No
32,3268,1683.0,1.0,0,Graduate,Male,152.0,360.0,LP001185,NaN,No,Semiurban,No
33,2783,2708.0,1.0,0,Graduate,Male,158.0,360.0,LP001187,NaN,Yes,Urban,No
34,2740,1541.0,1.0,0,Graduate,Male,101.0,360.0,LP001190,NaN,Yes,Urban,No
35,3150,0.0,0.0,0,Graduate,Male,176.0,360.0,LP001203,NaN,No,Semiurban,No
37,2267,2792.0,1.0,0,Graduate,Male,90.0,360.0,LP001210,NaN,Yes,Urban,Yes
38,5833,0.0,1.0,0,Graduate,Male,116.0,360.0,LP001211,NaN,No,Urban,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,2787,1917.0,0.0,1,Graduate,Male,146.0,360.0,LP002911,N,Yes,Rural,No
585,4283,3000.0,1.0,1,Graduate,Male,172.0,84.0,LP002912,N,Yes,Rural,No
586,2297,1522.0,1.0,0,Graduate,Male,104.0,360.0,LP002916,Y,Yes,Urban,No
587,2165,0.0,1.0,0,Not Graduate,Female,70.0,360.0,LP002917,Y,No,Semiurban,No
588,4750,0.0,1.0,0,Graduate,NaN,94.0,360.0,LP002925,Y,No,Semiurban,No
589,2726,0.0,0.0,2,Graduate,Male,106.0,360.0,LP002926,N,Yes,Semiurban,Yes
590,3000,3416.0,1.0,0,Graduate,Male,56.0,180.0,LP002928,Y,Yes,Semiurban,No
591,6000,0.0,1.0,2,Graduate,Male,205.0,240.0,LP002931,N,Yes,Semiurban,Yes
592,9357,0.0,1.0,3+,Graduate,NaN,292.0,360.0,LP002933,Y,No,Semiurban,Yes
593,3859,3300.0,1.0,0,Graduate,Male,142.0,180.0,LP002936,Y,Yes,Rural,No
594,16120,0.0,1.0,0,Graduate,Male,260.0,360.0,LP002938,Y,Yes,Urban,Yes
595,3833,0.0,1.0,0,Not Graduate,Male,110.0,360.0,LP002940,Y,No,Rural,No
596,6383,1000.0,1.0,2,Not Graduate,Male,187.0,360.0,LP002941,N,Yes,Rural,Yes
597,2987,0.0,0.0,NaN,Graduate,Male,88.0,360.0,LP002943,N,No,Semiurban,No
598,9963,0.0,1.0,0,Graduate,Male,180.0,360.0,LP002945,Y,Yes,Rural,Yes
599,5780,0.0,1.0,2,Graduate,Male,192.0,360.0,LP002948,Y,Yes,Urban,No
600,416,41667.0,NaN,3+,Graduate,Female,350.0,180.0,LP002949,N,No,Urban,NaN
601,2894,2792.0,1.0,0,Not Graduate,Male,155.0,360.0,LP002950,Y,Yes,Rural,NaN
602,5703,0.0,1.0,3+,Graduate,Male,128.0,360.0,LP002953,Y,Yes,Urban,No
603,3676,4301.0,1.0,0,Graduate,Male,172.0,360.0,LP002958,Y,No,Rural,No
604,12000,0.0,1.0,1,Graduate,Female,496.0,360.0,LP002959,Y,Yes,Semiurban,No
605,2400,3800.0,1.0,0,Not Graduate,Male,NaN,180.0,LP002960,N,Yes,Urban,No
606,3400,2500.0,1.0,1,Graduate,Male,173.0,360.0,LP002961,Y,Yes,Semiurban,No
607,3987,1411.0,1.0,2,Not Graduate,Male,157.0,360.0,LP002964,Y,Yes,Rural,No
608,3232,1950.0,1.0,0,Graduate,Male,108.0,360.0,LP002974,Y,Yes,Rural,No
609,2900,0.0,1.0,0,Graduate,Female,71.0,360.0,LP002978,Y,No,Rural,No
610,4106,0.0,1.0,3+,Graduate,Male,40.0,180.0,LP002979,Y,Yes,Rural,No
611,8072,240.0,1.0,1,Graduate,Male,253.0,360.0,LP002983,Y,Yes,Urban,No
612,7583,0.0,1.0,2,Graduate,Male,187.0,360.0,LP002984,Y,Yes,Urban,No
613,4583,0.0,0.0,0,Graduate,Female,133.0,360.0,LP002990,N,No,Semiurban,Yes

In [11]:
df2.shape

(903, 13)

In [12]:
df2["Gender"].unique()

array(['Male', 'Female', nan], dtype=object)

In [14]:
df3=df2["Gender"][df2["Gender"]=="Male"]=="Femail"

In [15]:
df3

0      False
1      False
2      False
4      False
5      False
7      False
9      False
10     False
15     False
16     False
17     False
18     False
19     False
20     False
24     False
25     False
27     False
29     False
31     False
32     False
33     False
34     False
35     False
37     False
38     False
39     False
40     False
42     False
43     False
47     False
       ...
575    False
577    False
578    False
579    False
580    False
581    False
583    False
584    False
585    False
586    False
589    False
590    False
591    False
593    False
594    False
595    False
596    False
597    False
598    False
599    False
601    False
602    False
603    False
605    False
606    False
607    False
608    False
610    False
611    False
612    False
Name: Gender, Length: 719, dtype: bool

In [16]:
df2

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5720,0.0,1.0,0,Graduate,Male,110.0,360.0,LP001015,NaN,Yes,Urban,No
1,3076,1500.0,1.0,1,Graduate,Male,126.0,360.0,LP001022,NaN,Yes,Urban,No
2,5000,1800.0,1.0,2,Graduate,Male,208.0,360.0,LP001031,NaN,Yes,Urban,No
4,3276,0.0,1.0,0,Not Graduate,Male,78.0,360.0,LP001051,NaN,No,Urban,No
5,2165,3422.0,1.0,0,Not Graduate,Male,152.0,360.0,LP001054,NaN,Yes,Urban,Yes
6,2226,0.0,1.0,1,Not Graduate,Female,59.0,360.0,LP001055,NaN,No,Semiurban,No
7,3881,0.0,0.0,2,Not Graduate,Male,147.0,360.0,LP001056,NaN,Yes,Rural,No
9,2400,2400.0,1.0,0,Not Graduate,Male,123.0,360.0,LP001067,NaN,No,Semiurban,No
10,3091,0.0,1.0,0,Not Graduate,Male,90.0,360.0,LP001078,NaN,No,Urban,No
14,4666,0.0,1.0,0,Graduate,Female,124.0,360.0,LP001096,NaN,No,Semiurban,No
15,5667,0.0,1.0,1,Graduate,Male,131.0,360.0,LP001099,NaN,No,Urban,No
16,4583,2916.0,1.0,2,Graduate,Male,200.0,360.0,LP001105,NaN,Yes,Urban,No
17,3786,333.0,1.0,3+,Graduate,Male,126.0,360.0,LP001107,NaN,Yes,Semiurban,No
18,9226,7916.0,1.0,0,Graduate,Male,300.0,360.0,LP001108,NaN,Yes,Urban,No
19,1300,3470.0,1.0,0,Graduate,Male,100.0,180.0,LP001115,NaN,No,Semiurban,No
20,1888,1620.0,1.0,1,Not Graduate,Male,48.0,360.0,LP001121,NaN,Yes,Urban,No
21,2083,0.0,1.0,3+,Not Graduate,Female,28.0,180.0,LP001124,NaN,No,Urban,No
23,3765,0.0,1.0,0,Not Graduate,Female,125.0,360.0,LP001135,NaN,No,Urban,No
24,5400,4380.0,1.0,0,Graduate,Male,290.0,360.0,LP001149,NaN,Yes,Urban,No
25,0,24000.0,0.0,0,Graduate,Male,148.0,360.0,LP001153,NaN,No,Rural,No
27,7500,3750.0,1.0,0,Graduate,Male,275.0,360.0,LP001169,NaN,Yes,Urban,No
29,2942,2382.0,1.0,0,Graduate,Male,125.0,180.0,LP001176,NaN,No,Urban,No
30,2478,0.0,1.0,0,Not Graduate,Female,75.0,360.0,LP001177,NaN,No,Semiurban,No
31,6250,820.0,1.0,2,Graduate,Male,192.0,360.0,LP001183,NaN,Yes,Urban,No
32,3268,1683.0,1.0,0,Graduate,Male,152.0,360.0,LP001185,NaN,No,Semiurban,No
33,2783,2708.0,1.0,0,Graduate,Male,158.0,360.0,LP001187,NaN,Yes,Urban,No
34,2740,1541.0,1.0,0,Graduate,Male,101.0,360.0,LP001190,NaN,Yes,Urban,No
35,3150,0.0,0.0,0,Graduate,Male,176.0,360.0,LP001203,NaN,No,Semiurban,No
37,2267,2792.0,1.0,0,Graduate,Male,90.0,360.0,LP001210,NaN,Yes,Urban,Yes
38,5833,0.0,1.0,0,Graduate,Male,116.0,360.0,LP001211,NaN,No,Urban,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,2787,1917.0,0.0,1,Graduate,Male,146.0,360.0,LP002911,N,Yes,Rural,No
585,4283,3000.0,1.0,1,Graduate,Male,172.0,84.0,LP002912,N,Yes,Rural,No
586,2297,1522.0,1.0,0,Graduate,Male,104.0,360.0,LP002916,Y,Yes,Urban,No
587,2165,0.0,1.0,0,Not Graduate,Female,70.0,360.0,LP002917,Y,No,Semiurban,No
588,4750,0.0,1.0,0,Graduate,NaN,94.0,360.0,LP002925,Y,No,Semiurban,No
589,2726,0.0,0.0,2,Graduate,Male,106.0,360.0,LP002926,N,Yes,Semiurban,Yes
590,3000,3416.0,1.0,0,Graduate,Male,56.0,180.0,LP002928,Y,Yes,Semiurban,No
591,6000,0.0,1.0,2,Graduate,Male,205.0,240.0,LP002931,N,Yes,Semiurban,Yes
592,9357,0.0,1.0,3+,Graduate,NaN,292.0,360.0,LP002933,Y,No,Semiurban,Yes
593,3859,3300.0,1.0,0,Graduate,Male,142.0,180.0,LP002936,Y,Yes,Rural,No
594,16120,0.0,1.0,0,Graduate,Male,260.0,360.0,LP002938,Y,Yes,Urban,Yes
595,3833,0.0,1.0,0,Not Graduate,Male,110.0,360.0,LP002940,Y,No,Rural,No
596,6383,1000.0,1.0,2,Not Graduate,Male,187.0,360.0,LP002941,N,Yes,Rural,Yes
597,2987,0.0,0.0,NaN,Graduate,Male,88.0,360.0,LP002943,N,No,Semiurban,No
598,9963,0.0,1.0,0,Graduate,Male,180.0,360.0,LP002945,Y,Yes,Rural,Yes
599,5780,0.0,1.0,2,Graduate,Male,192.0,360.0,LP002948,Y,Yes,Urban,No
600,416,41667.0,NaN,3+,Graduate,Female,350.0,180.0,LP002949,N,No,Urban,NaN
601,2894,2792.0,1.0,0,Not Graduate,Male,155.0,360.0,LP002950,Y,Yes,Rural,NaN
602,5703,0.0,1.0,3+,Graduate,Male,128.0,360.0,LP002953,Y,Yes,Urban,No
603,3676,4301.0,1.0,0,Graduate,Male,172.0,360.0,LP002958,Y,No,Rural,No
604,12000,0.0,1.0,1,Graduate,Female,496.0,360.0,LP002959,Y,Yes,Semiurban,No
605,2400,3800.0,1.0,0,Not Graduate,Male,NaN,180.0,LP002960,N,Yes,Urban,No
606,3400,2500.0,1.0,1,Graduate,Male,173.0,360.0,LP002961,Y,Yes,Semiurban,No
607,3987,1411.0,1.0,2,Not Graduate,Male,157.0,360.0,LP002964,Y,Yes,Rural,No
608,3232,1950.0,1.0,0,Graduate,Male,108.0,360.0,LP002974,Y,Yes,Rural,No
609,2900,0.0,1.0,0,Graduate,Female,71.0,360.0,LP002978,Y,No,Rural,No
610,4106,0.0,1.0,3+,Graduate,Male,40.0,180.0,LP002979,Y,Yes,Rural,No
611,8072,240.0,1.0,1,Graduate,Male,253.0,360.0,LP002983,Y,Yes,Urban,No
612,7583,0.0,1.0,2,Graduate,Male,187.0,360.0,LP002984,Y,Yes,Urban,No
613,4583,0.0,0.0,0,Graduate,Female,133.0,360.0,LP002990,N,No,Semiurban,Yes

In [17]:
df2.keys()

Index(['ApplicantIncome', 'CoapplicantIncome', 'Credit_History', 'Dependents',
       'Education', 'Gender', 'LoanAmount', 'Loan_Amount_Term', 'Loan_ID',
       'Loan_Status', 'Married', 'Property_Area', 'Self_Employed'],
      dtype='object')

In [25]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()
df2['Education1'] = lab.fit_transform(df2['Education'])

In [26]:
lab.classes_

array(['Graduate', 'Not Graduate'], dtype=object)

In [65]:
df4=pd.get_dummies(df2,columns=["Married","Gender","Dependents","Education","Self_Employed","Property_Area"],drop_first=True)

In [66]:
df4.head()

,ApplicantIncome,CoapplicantIncome,Credit_History,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married_Yes,Gender_Male,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,5720,0.0,1.0,110.0,360.0,LP001015,NaN,1,1,0,0,0,0,0,0,1
1,3076,1500.0,1.0,126.0,360.0,LP001022,NaN,1,1,1,0,0,0,0,0,1
2,5000,1800.0,1.0,208.0,360.0,LP001031,NaN,1,1,0,1,0,0,0,0,1
4,3276,0.0,1.0,78.0,360.0,LP001051,NaN,0,1,0,0,0,1,0,0,1
5,2165,3422.0,1.0,152.0,360.0,LP001054,NaN,1,1,0,0,0,1,1,0,1

In [67]:
df4

,ApplicantIncome,CoapplicantIncome,Credit_History,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married_Yes,Gender_Male,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,5720,0.0,1.0,110.0,360.0,LP001015,NaN,1,1,0,0,0,0,0,0,1
1,3076,1500.0,1.0,126.0,360.0,LP001022,NaN,1,1,1,0,0,0,0,0,1
2,5000,1800.0,1.0,208.0,360.0,LP001031,NaN,1,1,0,1,0,0,0,0,1
4,3276,0.0,1.0,78.0,360.0,LP001051,NaN,0,1,0,0,0,1,0,0,1
5,2165,3422.0,1.0,152.0,360.0,LP001054,NaN,1,1,0,0,0,1,1,0,1
6,2226,0.0,1.0,59.0,360.0,LP001055,NaN,0,0,1,0,0,1,0,1,0
7,3881,0.0,0.0,147.0,360.0,LP001056,NaN,1,1,0,1,0,1,0,0,0
9,2400,2400.0,1.0,123.0,360.0,LP001067,NaN,0,1,0,0,0,1,0,1,0
10,3091,0.0,1.0,90.0,360.0,LP001078,NaN,0,1,0,0,0,1,0,0,1
14,4666,0.0,1.0,124.0,360.0,LP001096,NaN,0,0,0,0,0,0,0,1,0
15,5667,0.0,1.0,131.0,360.0,LP001099,NaN,0,1,1,0,0,0,0,0,1
16,4583,2916.0,1.0,200.0,360.0,LP001105,NaN,1,1,0,1,0,0,0,0,1
17,3786,333.0,1.0,126.0,360.0,LP001107,NaN,1,1,0,0,1,0,0,1,0
18,9226,7916.0,1.0,300.0,360.0,LP001108,NaN,1,1,0,0,0,0,0,0,1
19,1300,3470.0,1.0,100.0,180.0,LP001115,NaN,0,1,0,0,0,0,0,1,0
20,1888,1620.0,1.0,48.0,360.0,LP001121,NaN,1,1,1,0,0,1,0,0,1
21,2083,0.0,1.0,28.0,180.0,LP001124,NaN,0,0,0,0,1,1,0,0,1
23,3765,0.0,1.0,125.0,360.0,LP001135,NaN,0,0,0,0,0,1,0,0,1
24,5400,4380.0,1.0,290.0,360.0,LP001149,NaN,1,1,0,0,0,0,0,0,1
25,0,24000.0,0.0,148.0,360.0,LP001153,NaN,0,1,0,0,0,0,0,0,0
27,7500,3750.0,1.0,275.0,360.0,LP001169,NaN,1,1,0,0,0,0,0,0,1
29,2942,2382.0,1.0,125.0,180.0,LP001176,NaN,0,1,0,0,0,0,0,0,1
30,2478,0.0,1.0,75.0,360.0,LP001177,NaN,0,0,0,0,0,1,0,1,0
31,6250,820.0,1.0,192.0,360.0,LP001183,NaN,1,1,0,1,0,0,0,0,1
32,3268,1683.0,1.0,152.0,360.0,LP001185,NaN,0,1,0,0,0,0,0,1,0
33,2783,2708.0,1.0,158.0,360.0,LP001187,NaN,1,1,0,0,0,0,0,0,1
34,2740,1541.0,1.0,101.0,360.0,LP001190,NaN,1,1,0,0,0,0,0,0,1
35,3150,0.0,0.0,176.0,360.0,LP001203,NaN,0,1,0,0,0,0,0,1,0
37,2267,2792.0,1.0,90.0,360.0,LP001210,NaN,1,1,0,0,0,0,1,0,1
38,5833,0.0,1.0,116.0,360.0,LP001211,NaN,0,1,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,2787,1917.0,0.0,146.0,360.0,LP002911,N,1,1,1,0,0,0,0,0,0
585,4283,3000.0,1.0,172.0,84.0,LP002912,N,1,1,1,0,0,0,0,0,0
586,2297,1522.0,1.0,104.0,360.0,LP002916,Y,1,1,0,0,0,0,0,0,1
587,2165,0.0,1.0,70.0,360.0,LP002917,Y,0,0,0,0,0,1,0,1,0
588,4750,0.0,1.0,94.0,360.0,LP002925,Y,0,0,0,0,0,0,0,1,0
589,2726,0.0,0.0,106.0,360.0,LP002926,N,1,1,0,1,0,0,1,1,0
590,3000,3416.0,1.0,56.0,180.0,LP002928,Y,1,1,0,0,0,0,0,1,0
591,6000,0.0,1.0,205.0,240.0,LP002931,N,1,1,0,1,0,0,1,1,0
592,9357,0.0,1.0,292.0,360.0,LP002933,Y,0,0,0,0,1,0,1,1,0
593,3859,3300.0,1.0,142.0,180.0,LP002936,Y,1,1,0,0,0,0,0,0,0
594,16120,0.0,1.0,260.0,360.0,LP002938,Y,1,1,0,0,0,0,1,0,1
595,3833,0.0,1.0,110.0,360.0,LP002940,Y,0,1,0,0,0,1,0,0,0
596,6383,1000.0,1.0,187.0,360.0,LP002941,N,1,1,0,1,0,1,1,0,0
597,2987,0.0,0.0,88.0,360.0,LP002943,N,0,1,0,0,0,0,0,1,0
598,9963,0.0,1.0,180.0,360.0,LP002945,Y,1,1,0,0,0,0,1,0,0
599,5780,0.0,1.0,192.0,360.0,LP002948,Y,1,1,0,1,0,0,0,0,1
600,416,41667.0,NaN,350.0,180.0,LP002949,N,0,0,0,0,1,0,0,0,1
601,2894,2792.0,1.0,155.0,360.0,LP002950,Y,1,1,0,0,0,1,0,0,0
602,5703,0.0,1.0,128.0,360.0,LP002953,Y,1,1,0,0,1,0,0,0,1
603,3676,4301.0,1.0,172.0,360.0,LP002958,Y,0,1,0,0,0,0,0,0,0
604,12000,0.0,1.0,496.0,360.0,LP002959,Y,1,0,1,0,0,0,0,1,0
605,2400,3800.0,1.0,NaN,180.0,LP002960,N,1,1,0,0,0,1,0,0,1
606,3400,2500.0,1.0,173.0,360.0,LP002961,Y,1,1,1,0,0,0,0,1,0
607,3987,1411.0,1.0,157.0,360.0,LP002964,Y,1,1,0,1,0,1,0,0,0
608,3232,1950.0,1.0,108.0,360.0,LP002974,Y,1,1,0,0,0,0,0,0,0
609,2900,0.0,1.0,71.0,360.0,LP002978,Y,0,0,0,0,0,0,0,0,0
610,4106,0.0,1.0,40.0,180.0,LP002979,Y,1,1,0,0,1,0,0,0,0
611,8072,240.0,1.0,253.0,360.0,LP002983,Y,1,1,1,0,0,0,0,0,1
612,7583,0.0,1.0,187.0,360.0,LP002984,Y,1,1,0,1,0,0,0,0,1
613,4583,0.0,0.0,133.0,360.0,LP002990,N,0,0,0,0,0,0,1,1,0

In [86]:
df4["Gender_male"].value_counts()

KeyError: 'Gender_male'

In [55]:
print(df4).sample(5)

     ApplicantIncome  CoapplicantIncome  Credit_History  LoanAmount  \
0               5720                0.0             1.0       110.0
1               3076             1500.0             1.0       126.0
2               5000             1800.0             1.0       208.0
4               3276                0.0             1.0        78.0
5               2165             3422.0             1.0       152.0
6               2226                0.0             1.0        59.0
7               3881                0.0             0.0       147.0
9               2400             2400.0             1.0       123.0
10              3091                0.0             1.0        90.0
14              4666                0.0             1.0       124.0
15              5667                0.0             1.0       131.0
16              4583             2916.0             1.0       200.0
17              3786              333.0             1.0       126.0
18              9226             7916.0             1.0       300.0
19              1300             3470.0             1.0       100.0
20              1888             1620.0             1.0        48.0
21              2083                0.0             1.0        28.0
23              3765                0.0             1.0       125.0
24              5400             4380.0             1.0       290.0
25                 0            24000.0             0.0       148.0
27              7500             3750.0             1.0       275.0
29              2942             2382.0             1.0       125.0
30              2478                0.0             1.0        75.0
31              6250              820.0             1.0       192.0
32              3268             1683.0             1.0       152.0
33              2783             2708.0             1.0       158.0
34              2740             1541.0             1.0       101.0
35              3150                0.0             0.0       176.0
37              2267             2792.0             1.0        90.0
38              5833                0.0             1.0       116.0
..               ...                ...             ...         ...
584             2787             1917.0             0.0       146.0
585             4283             3000.0             1.0       172.0
586             2297             1522.0             1.0       104.0
587             2165                0.0             1.0        70.0
588             4750                0.0             1.0        94.0
589             2726                0.0             0.0       106.0
590             3000             3416.0             1.0        56.0
591             6000                0.0             1.0       205.0
592             9357                0.0             1.0       292.0
593             3859             3300.0             1.0       142.0
594            16120                0.0             1.0       260.0
595             3833                0.0             1.0       110.0
596             6383             1000.0             1.0       187.0
597             2987                0.0             0.0        88.0
598             9963                0.0             1.0       180.0
599             5780                0.0             1.0       192.0
600              416            41667.0             NaN       350.0
601             2894             2792.0             1.0       155.0
602             5703                0.0             1.0       128.0
603             3676             4301.0             1.0       172.0
604            12000                0.0             1.0       496.0
605             2400             3800.0             1.0         NaN
606             3400             2500.0             1.0       173.0
607             3987             1411.0             1.0       157.0
608             3232             1950.0             1.0       108.0
609             2900                0.0             1.0        71.0
610             4106                0.0             1.0        40.0
611             8072              240.0             1.0       253.0
612             7583                0.0             1.0       187.0
613             4583                0.0             0.0       133.0

     Loan_Amount_Term   Loan_ID Loan_Status  Married_Yes  Gender_Male  \
0               360.0  LP001015         NaN            1            1
1               360.0  LP001022         NaN            1            1
2               360.0  LP001031         NaN            1            1
4               360.0  LP001051         NaN            0            1
5               360.0  LP001054         NaN            1            1
6               360.0  LP001055         NaN            0            0
7               360.0  LP001056         NaN            1            1
9               360.0  LP001067         NaN            0            1
10              360.0  LP001078         NaN            0            1
14              360.0  LP001096         NaN            0            0
15              360.0  LP001099         NaN            0            1
16              360.0  LP001105         NaN            1            1
17              360.0  LP001107         NaN            1            1
18              360.0  LP001108         NaN            1            1
19              180.0  LP001115         NaN            0            1
20              360.0  LP001121         NaN            1            1
21              180.0  LP001124         NaN            0            0
23              360.0  LP001135         NaN            0            0
24              360.0  LP001149         NaN            1            1
25              360.0  LP001153         NaN            0            1
27              360.0  LP001169         NaN            1            1
29              180.0  LP001176         NaN            0            1
30              360.0  LP001177         NaN            0            0
31              360.0  LP001183         NaN            1            1
32              360.0  LP001185         NaN            0            1
33              360.0  LP001187         NaN            1            1
34              360.0  LP001190         NaN            1            1
35              360.0  LP001203         NaN            0            1
37              360.0  LP001210         NaN            1            1
38              360.0  LP001211         NaN            0            1
..                ...       ...         ...          ...          ...
584             360.0  LP002911           N            1            1
585              84.0  LP002912           N            1            1
586             360.0  LP002916           Y            1            1
587             360.0  LP002917           Y            0            0
588             360.0  LP002925           Y            0            0
589             360.0  LP002926           N            1            1
590             180.0  LP002928           Y            1            1
591             240.0  LP002931           N            1            1
592             360.0  LP002933           Y            0            0
593             180.0  LP002936           Y            1            1
594             360.0  LP002938           Y            1            1
595             360.0  LP002940           Y            0            1
596             360.0  LP002941           N            1            1
597             360.0  LP002943           N            0            1
598             360.0  LP002945           Y            1            1
599             360.0  LP002948           Y            1            1
600             180.0  LP002949           N            0            0
601             360.0  LP002950           Y            1            1
602             360.0  LP002953           Y            1            1
603             360.0  LP002958           Y            0            1
604             360.0  LP002959           Y            1            0
605             180.0  LP002960           N            1            1
606             360.0  LP002961           Y            1            1
607             360.0  LP002964           Y            1            1
608             360.0  LP002974           Y            1            1
609             360.0  LP002978           Y            0            0
610             180.0  LP002979           Y            1            1
611             360.0  LP002983           Y            1            1
612             360.0  LP002984           Y            1            1
613             360.0  LP002990           N            0            0

     Dependents_1  Dependents_2  Dependents_3+  Education_Not Graduate  \
0               0             0              0                       0
1               1             0              0                       0
2               0             1              0                       0
4               0             0              0                       1
5               0             0              0                       1
6               1             0              0                       1
7               0             1              0                       1
9               0             0              0                       1
10              0             0              0                       1
14              0             0              0                       0
15              1             0              0                       0
16              0             1              0                       0
17              0             0              1                       0
18              0             0              0                       0
19              0             0              0                       0
20              1             0              0                       1
21              0             0              1                       1
23              0             0              0                       1
24              0             0              0                       0
25              0             0              0                       0
27              0             0              0                       0
29              0             0              0                       0
30              0             0              0                       1
31              0             1              0                       0
32              0             0              0                       0
33              0             0              0                       0
34              0             0              0                       0
35              0             0              0                       0
37              0             0              0                       0
38              0             0              0                       0
..            ...           ...            ...                     ...
584             1             0              0                       0
585             1             0              0                       0
586             0             0              0                       0
587             0             0              0                       1
588             0             0              0                       0
589             0             1              0                       0
590             0             0              0                       0
591             0             1              0                       0
592             0             0              1                       0
593             0             0              0                       0
594             0             0              0                       0
595             0             0              0                       1
596             0             1              0                       1
597             0             0              0                       0
598             0             0              0                       0
599             0             1              0                       0
600             0             0              1                       0
601             0             0              0                       1
602             0             0              1                       0
603             0             0              0                       0
604             1             0              0                       0
605             0             0              0                       1
606             1             0              0                       0
607             0             1              0                       1
608             0             0              0                       0
609             0             0              0                       0
610             0             0              1                       0
611             1             0              0                       0
612             0             1              0                       0
613             0             0              0                       0

     Self_Employed_Yes  Property_Area_Semiurban  Property_Area_Urban
0                    0                        0                    1
1                    0                        0                    1
2                    0                        0                    1
4                    0                        0                    1
5                    1                        0                    1
6                    0                        1                    0
7                    0                        0                    0
9                    0                        1                    0
10                   0                        0                    1
14                   0                        1                    0
15                   0                        0                    1
16                   0                        0                    1
17                   0                        1                    0
18                   0                        0                    1
19                   0                        1                    0
20                   0                        0                    1
21                   0                        0                    1
23                   0                        0                    1
24                   0                        0                    1
25                   0                        0                    0
27                   0                        0                    1
29                   0                        0                    1
30                   0                        1                    0
31                   0                        0                    1
32                   0                        1                    0
33                   0                        0                    1
34                   0                        0                    1
35                   0                        1                    0
37                   1                        0                    1
38                   1                        0                    1
..                 ...                      ...                  ...
584                  0                        0                    0
585                  0                        0                    0
586                  0                        0                    1
587                  0                        1                    0
588                  0                        1                    0
589                  1                        1                    0
590                  0                        1                    0
591                  1                        1                    0
592                  1                        1                    0
593                  0                        0                    0
594                  1                        0                    1
595                  0                        0                    0
596                  1                        0                    0
597                  0                        1                    0
598                  1                        0                    0
599                  0                        0                    1
600                  0                        0                    1
601                  0                        0                    0
602                  0                        0                    1
603                  0                        0                    0
604                  0                        1                    0
605                  0                        0                    1
606                  0                        1                    0
607                  0                        0                    0
608                  0                        0                    0
609                  0                        0                    0
610                  0                        0                    0
611                  0                        0                    1
612                  0                        0                    1
613                  1                        1                    0

[903 rows x 16 columns]

AttributeError: 'NoneType' object has no attribute 'sample'

In [68]:
df.dropna(inplace=True)

In [69]:
X=df4[["LoanAmount"]]

In [70]:
X.sample(4)

     LoanAmount
75        113.0
45         88.0
411       160.0
154        72.0

In [73]:
y=df4['Married_Yes']

In [74]:
y.sample(3)

19     1
33     1
186    1
Name: Married_Yes, dtype: uint8

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=40)

In [76]:
X_train.shape

(632, 1)

In [77]:
y_train.shape

(632,)

In [78]:
from sklearn.tree import DecisionTreeClassifier

In [83]:
testData= DecisionTreeClassifier()

In [84]:
y.unique()

array([1, 0], dtype=uint64)

In [88]:
testData.predict(X)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.